{# templates/panier/panier.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Wishlist{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1 class="text-center mb-4">Wishlist</h1>
        <table class="table table-dark table-striped">
            <thead class="thead-dark">
            <tr>
                <th>Nom</th>
                <th>Date de sortie</th>
                <th>Nom du développeur</th>
                <th>Nom d'Éditeur</th>
                <th>Prix</th>
                <th>Plateforme</th>
            </tr>
            </thead>
            <tbody>
            {% for wishlistItem in wishlistItems %}
                <tr>
                    <td>{{ wishlistItem.getJeux().getNom() }}</td>
                    <td>{{ wishlistItem.getJeux().getDateSortie()|date('d/m/Y') }}</td>
                    <td>{{ wishlistItem.getJeux().getDeveloppeur().getNom() }}</td>
                    <td>{{ wishlistItem.getJeux().getEditeur().getNom() }}</td>
                    <!-- You may need to adjust this part based on your structure -->
                    {% for offre in wishlistItem.getJeux().getOffres() %}
                        <td>
                            Prix: <span style="text-decoration: line-through;">{{ offre.getPrix()|number_format(0, ',', ' ') }}€</span>
                            <span class="text-danger">{{ offre.getPrixFinal()|number_format(0, ',', ' ') }}€</span>
                        </td>
                        <td>Plateforme: {{ offre.getPlateformeJeu() }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}

            </tbody>
        </table>
        <div class="text-center">
            
            <form action="{{ path('wishlist_clear') }}" method="post" onsubmit="return confirm('Êtes-vous sûr de vouloir vider votre wishlist ?');">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('clear_wishlist') }}">
                <button type="submit" class="btn btn-danger mt-3"><i class="fas fa-trash"></i> Vider la wishlist</button>
            </form>

        </div>
    </div>
{% endblock %}
