{% extends 'base.html.twig' %}

{% block title %}{{ jeu.nom }} - Offres{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1 class="text-center mb-4">{{ jeu.nom }} - Offres</h1>
        <div class="row">
            {% if offres|length > 0 %}
                {% for offre in offres %}
                    <div class="col-md-4 mb-4">
                        <div class="card h-100 shadow-lg offer-card">
                            <div class="card-body d-flex flex-column">
                                <h5 class="card-title">{{ offre.jeux.nom }}</h5>
                                <p class="card-text">Prix: {{ offre.prix }}€</p>
                                <p class="card-text">Lien: <a href="{{ offre.lien }}" target="_blank">Acheter</a></p>
                                <p class="card-text">Édition: {{ offre.edition }}</p>
                                <p class="card-text">Plateforme: {{ offre.plateformeJeu }}</p>
                                <p class="card-text">Activation: {{ offre.plateformeActivation }}</p>
                                <div class="mt-auto text-center">
                                    <a href="{{ path('offre_show_prix', {'id': offre.id}) }}" class="btn btn-info mb-2"><i class="fas fa-eye"></i> Voir les détails du prix</a>
                                    <a href="{{ path('offre_edit', {'id': offre.id}) }}" class="btn btn-primary mb-2"><i class="fas fa-edit"></i> Éditer</a>
                                    <form action="{{ path('offre_delete', {'id': offre.id}) }}" method="post" class="d-inline" onsubmit="return confirm('Êtes-vous sûr ?');">
                                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ offre.id) }}">
                                        <button type="submit" class="btn btn-danger"><i class="fas fa-trash"></i> Supprimer</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p class="text-center">Aucune offre disponible pour ce jeu.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
